 .head{
 overflow: hidden;
  margin: 0;
  font-size:20px; 
  background-color: rgba(206,137,137,0.658);
  list-style-type: none;
  text-decoration: none;
}
header{
position: fixed;}

li a {
  display:inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  list-style-type: none;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(206, 137, 137, 0.658);
}
.gridc
{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    font-size: 15px;
    border-style: ridge;
    margin:auto;
    width: 80%;
    grid-gap: 100px;
}
.d1 img
{
  height:200px;
  width: 150px;
}
.welcome
{ margin:auto;
  width: 532px;
  height:532px;;
  text-align: center;
  font-size:25px;
  background-image: url("../img/final.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
}
.quote
{
  color: rgb(82, 24, 24);
  font-size: 20px;
  height: 100px;
  font-family: 'Gloria Hallelujah', cursive;
  text-shadow: 6px 6px 6px rgb(12, 12, 12);
  background-image: url("../img/bg.jpeg");
  text-align: center;

}
footer ul li
{
font-size:15px;
list-style-type:none;
text-decoration: none;
float:right;
}
